.publish_box{
	width:200px;
	height:300px;
	background-color:#DDDDDD;
}
.input_box{
	resize:none;
	width:500px;
	height:70px;
	background:url(http://www.lanrentuku.com/down/js/images/12450456760.gif) no-repeat right top; 
	
}
.title{
	width:150px;
	height:80px;
}
.top_content{
	overflow-x: auto; overflow-y: auto; height: 100px; width:800px;
}
