@charset "UTF-8";

*{
	margin: 0;
	paddind: 0;
	border: 0;
}

a{
	text-decoration: none;
    color: white;
}

.header{
	height: 200px;
    width: 100%;    
    background: #a5b0cc;
}

.header_box{
	padding: 0 15%;
	height: 100%;
}

.header_top{
	width: 100%;
    height: 100px;
    padding-top: 11px;
}

.header_left{
	float: left;
    width: 60%;
    height: 100%;
}

.header_logo{
    overflow: hidden;
    height: 50%;
    margin-bottom: 15px;
}

.header_logo img{
	height: 100%;
}

.header_logo label{
	font-size: 40px;
    line-height: 30px;
    color: white;
    position: relative;
    bottom: 20%;;
    left: 10px;
    letter-spacing: 5px;
    font-family: 华文行楷;
}

.header_title{
    width: 80%;
    height: 35%;
    padding-left: 15%;
    font-size: 25px;
    color: white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: linear-gradient(to right,rgb(255,255,255,0.5),rgb(255,255,255,0.1));
}

.header_right{
	float: right;
    width: 40%;
    height: 100%;
}

.header_img{
	height: 100%;
    width: 75%;
    margin: 0 auto;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
    box-shadow: 7px 2px 20px azure;
}

.header_img img{
	width: 100%;
    height: 100%;
}

.course_search{
	line-height: 50px;
    text-align: right;
    width: 100%;
}

.course_search span{
	font-size: 18px;
}

.search_text{
	height: 25px;
    border: 1px solid white;
    padding: 1px 3px;
}

.search_btn{
	height: 29px;
    width: 50px;
    border: 1px solid white;
    padding: 1px 3px;
    background-color: dodgerblue;
    cursor: pointer;
    color: white;
}

.course_nav{
	line-height: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid gray;
    color: white;
    font-size: 18px;
    background-color: SlateGrey;
}

.course_nav ul{
	padding-left: 2%;
    height: 100%;
}

.course_nav ul li{
	list-style: none;
    display: inline-block;
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.course_nav ul li:hover{
	background-color: darkgrey;
}

.frame{
	width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 5px 0px;
}

.innerFrame{
	min-height: 810px;
    width: 100%;
}

.footer{
	width: 100%;
	height: 50px;
	background: #a5b0cc;
}

.footer_content{
	width: 100%;
    text-align: center;
    line-height: 50px;
}
