@charset "UTF-8";
*{
	margin: 0px;
	border:0px;
	padding: 0px;
}

.teacher_list{
	width: 100%;
	padding-top: 1px;
	background-color: whitesmoke;
}
.teacher_infor{
	padding: 10px;
	border: 1px solid #999;
	border-radius: 10px;
	margin-top: 25px;
	width: 80%;
	margin: 0 auto;
	background-color: #FFF0F5;
	color: #555555;
	margin-bottom: 25px;
}
.img{
	width: 100px;
	border-radius: 50%;
	border: 1px solid #999999;
	height: 100px;
}
.teacherTable{
	width: 100%;
}
.leftTd{
	width: 1%;
	text-align: center;
}
.rightTd{
	width: 70%;
	padding-left: 2%;
}
.teacher_introduce{
	height: 40px;
}
.teacher_achievement{
	height: 40px;
}