@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

.homePageHeader{
	height: 200px;
    width: 100%;
    background: #a5b0cc;
}

.header_box{
	padding: 0 15%;
	height: 100%;
}

.login{
	width: 100%;
    height: 20%;
}

.login_btn{
	height: 50%;
    width: 100%;
    text-align: right;
    letter-spacing: 5px;
    padding-top: 15px;
}

.login_btn a{
	text-decoration: none;
    color: wheat;
}

.home_logo{
	float: left;
    width: 60%;
    height: 80%;
}

.home_logo img{
	width: 20%;
}

.home_logo label{
	font-size: 65px;
    line-height: 30px;
    color: white;
    position: relative;
    bottom: 30px;
    left: 10px;
    letter-spacing: 5px;
    font-family: 华文行楷;
}

.home_img{
	float: right;
    width: 40%;
	height: 60%;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
    box-shadow: 7px 2px 20px azure;
}

.home_img img{
	width: 100%;
    height: 100%;
}

.course_list{
    margin: 20px 15%;
    box-shadow: 0px 0px 10px grey;
}

.course_box{
	display: inline-block;
    width: 33%;
    text-align: center;
    margin: 20px 0;
}

.course_box img{
	width: 50%;
	display: block;
	margin: 0 auto;
}

.course_box a{
	text-decoration: none;
    color: black;
    line-height: 45px;
    font-size: 20px;
}

.paging{
	margin: 0 15%
}