a {
            text-decoration: none;
            display: block;
            line-height: 30px;
            padding-left: 20px;
            color: #fff;
            font-size:5px;
        }
        ul {
            width: 10%;
            min-width: 10px;
            max-width: 100px;
            height: 737px;
            display: block;
            padding-top: 30px;
            background: #333;
            margin: 0;
            float: left;
        }
        li {
            list-style: none;
            width: 80px;
            height: 30px;
            border: 1px solid #ccc;
            margin-top: 60px;
        }
        .li {
            background:#fff;
            color:#333;
        }
        .container {
            float: left;
            width: 85%;
            height: 737px;
            padding-top: 30px;
            background:	#DDDDDD;
        }
 
        .iframe {
            width: inherit;
            height: inherit;
            border-style: none;
        }
        